
body{
    display: block;
}
body{
    background: rgb(7, 7, 48);
}
ol li a{
    text-decoration: none;
    font-size: 20px;
    padding: 3px;
    color: rgb(214, 214, 253);
}

ol{
    background: rgb(62, 98, 146);
    padding: 45px;
    border-radius: 1em;
    text-align: end;
    border: 1px solid black;
    height: 75vh;
}

ol h1{
    text-align: center;
    margin: 20px;
}

ol li {
    color: rgb(248, 248, 248);
}

ol p {
    text-align: initial;
    color: rgb(233, 233, 233);
    font-size: 19px;
    padding: 6px;
}


h1 {
    color: rgb(255, 255, 255);
}

ol div {
    border: 1px solid rgb(182, 182, 197);
    background: hwb(240 21% 44% / 0.478);
    border-radius: .9em;
}