@media screen and (max-width:500px) {
    .h1{
        font-size: 20px;
    }
    #corregir{
        position: relative;
        bottom: -19px;
        left: -45px;
    }
    .botom{
        position: relative;
        height: 55px;
        width: 65px;
        text-align: center;
        bottom: 5px;
        right: -150px;
        display: flex;
    }
    a{
        font-size: 15px;
        text-decoration: none;
        justify-content: center;
        color: white;
    }
}




.boton_examen2{
    height: 50px;
}